<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Website | Welcome</title>
    <link rel="icon" href="favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" media="screen and (max-width:768px)" href="css/mobile.css">
</head>
</head>

<body>
    <header>
        <nav id="nav-bar">
            <div class="container">

                <h1 class="logo"><a href="/">Hotel Name</a></h1>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a class="current" href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/book">Book</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section id="about-info" class="bg-light py-3">
        <div class="container">
            <div class="info-left">
                <h1 class="l-heading"> <span class="primary-text">About</span> Hotel Name</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At quam velit provident veniam numquam.
                    Aspernatur, ab asperiores. Vero repellat dolor rerum, quaerat itaque voluptate adipisci velit
                    nostrum dolorum. Deserunt blanditiis molestiae nemo reprehenderit expedita commodi aperiam ullam
                    aspernatur consectetur possimus.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut excepturi quibusdam a? Ea, sapiente
                    ullam.</p>
            </div>
            <div class="info-right">
                <img src="img/photo-2.jpg" alt="">
            </div>
        </div>
    </section>

    <div class="clr"></div>

    <div id="testimonials" class="py-3">
        <div class="container">
            <h2 class="l-heading">What out Guests Say</h2>
            <div class="testimonial bg-primary">
                <img src="img/person-2.png" alt="Samantha">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores voluptatum magnam atque?
                    Ipsax`similique quod sapiente, molestias animi error doloremque.</p>
            </div>
            <div class="testimonial bg-primary">
                <img src="img/person-1.png" alt="Jane">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, labore vitae repellendus magnam
                    placeat nisi minus. Esse minus deserunt provident.</p>
            </div>
        </div>
    </div>



    <footer id="main-footer">
        <p>Copyright &copy; 2020, All Rights Reserved</p>
    </footer>
</body>

</html>