<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Registration Failed</title>
	<link rel="icon" href="favicon.png" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Passion+One:900" rel="stylesheet">

	<link type="text/css" rel="stylesheet" href="css/regerr.css" />

</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>:(</h1>
			</div>
			<h2>Registration Failed</h2>
			<p>May be you are trying to use same username??</p>
			<a href="/register">Back to Registration</a>
		</div>
	</div>

</body>

</html>